.box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: pink;
}
.one{
    background-color: aquamarine;
    position: relative;
    z-index: -1;
    /* 1 doesnt work alone we need to give position to the element then z-index works*/
}
.two{
    background-color: darksalmon;
    /* position relative is on top this is overlap or stack 
    to give it level we use z-index to make it organized*/
    position: relative;
    z-index: 0;
    bottom: 50px;
}