.container{
    /* grid set karne se act as a block always*/
    width: 600px;
    height: 300px;
    background-color: yellow;
    display: inline-grid;/* grid- acts as a block */
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: repeat(3,1fr);
    /* row- col- gap */
    grid-gap: 10px;
    /* justify-items: center; ==> h0rizontal wise */
    /* end or start of the assigned area all boxes*/
    /* align-items: center;  ==> vertical length wise of each box or alll items */
    place-items: center;
    /* both horizontal and vertical */
}
.item{
    width: 100px;   
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}
.one{
    /* justify-self: end; */
    /* individual items ke liye */
    /* align-self: start; */

    place-self: end;
    /* individual vertical,horizontal both; */
}